extends ../components/page

include ../components/breadcrumbs
include ../components/product-name
include ../components/basket-table

block title
  |Корзина

block content
  +breadcrumbs
  main.main
    +product-name({logo: false, share: true, shareText: 'На согласование'})
      |Импорт из списка
    .container
      .row
        .col-12
          +basket-table
