extends ../components/page

include ../components/breadcrumbs
include ../components/product-name
include ../components/items-catalog

block title
  |Каталог

block content
  +breadcrumbs
  main.main
    +product-name({share: true})
      |Каталог оборудования автоматизации
    .container
      .row
        .col-12
          +items-catalog({sections: [
            {
              tag: 'a',
              name: 'Арматура кабельная, крепеж и аксессуары для кабеля',
              list: ['Кабельные наконечники и соединители (гильзы)'],
              imgSrc: 'assets/img/some-product-2.jpg'
            },
            {
              tag: 'a',
              name: 'Звонки дверные, домофонные системы',
              list: ['Звонки, кнопки и аксессуры'],
              imgSrc: 'assets/img/some-product-3.jpg'
            },
            {
              tag: 'a',
              name: 'Инструмент, измерительные приборы и средства защиты',
              list: [
                'Измерительные приборы и тестеры',
                'Инструменты для опрессовки, резки и изоляции'
              ]
            },
            {
              tag: 'a',
              name: 'Кабеленесущие системы (системы для прокладки кабеля)',
              list: [
                'Аксессуары для кабельных лотков универсальные',
              ],
              imgSrc: 'assets/img/some-product-4.jpg'
            },
            {
              tag: 'a',
              name: 'Кабель, провод',
              list: [
                'Кабели и провода связи',
                'Кабели специального назначения',
                'Провода и шнуры различного назначения',
              ]
            },
            {
              tag: 'a',
              name: 'Низковольтное оборудование',
              list: [
                'Автоматические выключатели дифференциального тока (диффавтоматы)',
                'Оборудование для молниезащиты и заземления',
                'Заземлители и аксессуары',
                'Автоматические выключатели модульные',
                'Автоматические выключатели стационарные',
              ]
            },
            {
              tag: 'a',
              name: 'Оборудование для молниезащиты и заземления',
              list: [
                'Заземлители и аксессуары',
                'Разрядники и устройства защиты',
              ]
            },
            {
              tag: 'a',
              name: 'Приводная техника, насосы и электродвигатели',
              list: [
                'Электродвигатели',
              ]
            },
            {
              tag: 'a',
              name: 'Разъемы',
              list: [
                'Разъемы промышленные различного назначения',
              ]
            },
            {
              tag: 'a',
              name: 'Системы автоматизации',
              list: [
                'Датчики',
                'Оборудование для информационной шины',
                'Программируемые логические контроллеры (плк)',
                'Реле',
              ]
            },
            {
              tag: 'a',
              name: 'Счетчики(приборы учета)',
              list: [
                'Счетчики электроэнергии',
              ]
            },
            {
              tag: 'a',
              name: 'Телекоммуникационные, антенные и спутниковые системы',
              list: [
                'Антенные системы и спутниковые технологии',
                'Системы передачи данных и телекоммуникационные системы',
              ]
            },
            {
              tag: 'a',
              name: 'Фотоэлектрические системы (гелиосистемы)',
              list: [
                'Гелиосистемы для электроснабжения зданий',
              ]
            },
            {
              tag: 'a',
              name: 'Щиты и шкафы, шинопровод',
              list: [
                'Корпуса шкафов готовые',
                'Корпуса шкафов сборной конструкции',
                'Микроклимат щитов и шкафов',
                'Системы сборных шин',
                'Шинопровод',
              ]
            },
            {
              tag: 'a',
              name: 'Электроустановочные изделия',
              list: [
                'Аксессуары и компоненты для электроустановочных изделий',
                'Блоки комбинированные',
                'Вилки кабельные и приборные',
                'Выключатели, переключатели и диммеры',
                'Рамки, суппорты, адаптеры и декоративные элементы для ',
              ]
            },
            {
              tag: 'a',
              name: 'Элементы и устройства электропитания, компенсация реактивной мощности',
              list: [
                'Аккумуляторы, зарядные устройства',
                'Батарейки',
                'Источники бесперебойного питания (ибп/ups)',
                'Источники питания, трансформаторы',
              ]
            },
          ]})
