extends ../components/page

include ../components/breadcrumbs
include ../components/product-name
include ../components/product-swiper
include ../components/product-info
include ../components/product-price-block
include ../components/items-swiper
include ../components/buy-buttons-block
include ../components/tabs
include ../components/characteristics
include ../components/overview
include ../components/tech-info
include ../components/manuals
include ../components/reviews
include ../components/certificates
include ../components/videos
include ../components/images

block title
  |Карточка товара

block content
      +breadcrumbs
      main.main
        +product-name
        .container
          .row
            .col-12.col-md-6.col-lg-4.mr-5.mr-lg-0
              +product-swiper
            .col-12.col-md-6.col-lg-4
              +product-info
            .col-12.col-md-6.col-lg-4
              +product-price-block
            .col-12
              +tabs(class="d-none d-md-flex")

              +characteristics

              +overview

              +tech-info

              +manuals

              +certificates

              +videos

              +images

              +reviews

              +items-swiper({heading: 'С этим товаром покупают', name: 'SIMATIC S7-300, SM321, МОДУЛЬ ВВОДА ДИСКРЕТНЫХ СИГНАЛОВ'})

              +items-swiper({heading: 'Просмотренные товары', name: 'SIMATIC S7-300, SM321, МОДУЛЬ ВВОДА ДИСКРЕТНЫХ СИГНАЛОВ'})

              +buy-buttons-block
