extends ../components/page

include ../components/breadcrumbs
include ../components/product-name
include ../components/product-swiper
include ../components/product-info
include ../components/product-price-block

block title
  |Карточка товара

block content
      +breadcrumbs
      main.main
        +product-name
        .container
          .row
            .col-12.col-md-6.col-lg-4.mr-5.mr-lg-0
              +product-swiper
            .col-12.col-md-6.col-lg-4
              +product-info
            .col-12.col-md-6.col-lg-4
              +product-price-block
