extends ../components/page

include ../components/breadcrumbs
include ../components/product-name
include ../components/product-swiper
include ../components/product-info
include ../components/product-price-block
include ../components/items-swiper
include ../components/buy-buttons-block
include ../components/tabs
include ../components/characteristics
include ../components/overview
include ../components/tech-info
include ../components/manuals
include ../components/reviews
include ../components/certificates
include ../components/videos
include ../components/images
include ../components/quick-order-popup

block title
  |Карточка товара

block content
  +breadcrumbs
  main.main
    +product-name
      |БЕСПРЕДОХРАНИТЕЛЬНАЯ ФИДЕРНАЯ СБОРКА ПРЯМОГО ПУСКА, AC 400V, ТИПОРАЗМЕР S00, 0.14.. .0.2A, AC 230V, ВИНТОВЫЕ КЛЕММЫ, ДЛЯ МОНТАЖА НА СТАНДАРТНОЙ МОНТАЖ
    .container
      .row
        .col-12.col-md-6.col-lg-4.mr-5.mr-lg-0
          +product-swiper
        .col-12.col-md-6.col-lg-4
          +product-info
        .col-12.col-md-6.col-lg-4
          +product-price-block

    +tabs({
      tabs: [
        {
          href: '#characteristics',
          name: 'Характеристики'
        },
        {
          href: '#overview',
          name: 'Обзор'
        },
        {
          href: '#tech-info',
          name: 'Тех. информация'
        },
        {
          href: '#manuals',
          name: 'Мануалы'
        },
        {
          href: '#certificate',
          name: 'Сертификаты'
        },
        {
          href: '#video',
          name: 'Видео'
        },
        {
          href: '#image',
          name: 'Фото'
        },
        {
          href: '#reviews',
          name: 'Отзывы'
        }
      ]
    })

    #tabs
      .container
        .row
          .col-12.mb-5.mb-md-0

            +characteristics(id="characteristics")

            +overview(id="overview" data-print="hide")

            +tech-info(id="tech-info" data-print="hide")

            +manuals(id="manuals" data-print="hide")

            +certificates(id="certificate" data-print="hide")

            +videos(id="video" data-print="hide")

            +images(id="image" data-print="hide")

            +reviews(id="reviews" data-print="hide")

    .container(data-print="hide")
      .row
        .col-12

          +items-swiper({heading: 'С этим товаром покупают', name: 'SIMATIC S7-300, SM321, МОДУЛЬ ВВОДА ДИСКРЕТНЫХ СИГНАЛОВ'})

          +items-swiper({heading: 'Просмотренные товары', name: 'SIMATIC S7-300, SM321, МОДУЛЬ ВВОДА ДИСКРЕТНЫХ СИГНАЛОВ'})

          +buy-buttons-block

          +quick-order-popup(id="quick-order-popup" style="display: none;")
          +quick-order-popup({callback: true})(id="callback-popup" style="display: none;")
