.amount-block {
	display: flex;
	background-color: var(--white);
	border-radius: 2px;

	&__input {
		min-width: 1px;
		height: 100%;
		padding: 0;
		border: none;
		color: var(--gray-400);
		font-family: var(--Oswald);
		font-size: 17px;
		font-weight: 300;
		text-align: center;
	}

	.button {
		flex-shrink: 0;
		width: 48px;
		height: 48px;
		padding: 0;
		color: var(--gray-400);
		font-size: 24px;
		font-weight: 300;
		line-height: 44px;
		text-align: center;
		vertical-align: middle;
	}

	&_border {
		border-radius: 2px;
		border: 1px solid var(--gray-300);
	}

	&_small {
		height: 32px;

		.button {
			min-height: 30px;
			height: 30px;
			min-width: 30px;
			width: 30px;
			line-height: 24px;
		}
	}
}
