.authorization-block {
	display: flex;
	justify-content: flex-end;
	list-style: none;

	&__item {
		&:nth-last-child(n + 2) {
			margin-right: 30px;
		}
	}
}

@media screen and (max-width: 1199px) {
	.authorization-block {
		&__item {
			&:nth-last-child(n + 2) {
				margin-right: 18px;
			}
		}

		.link-icon {
			display: none;
		}
	}
}

@media screen and (max-width: 991px) {
	.authorization-block {
		display: flex;
		flex-direction: column;

		&__item {
			&:nth-last-child(n + 2) {
				margin-right: 0;
			}
		}
	}
}
