.basket-table {
	width: 100%;
	margin-bottom: 45px;
	border-collapse: collapse;

	&__thead {
		background-color: var(--gray-200);
	}

	&__th {
		padding: 5px 15px;
		color: var(--gray-400);
		font-family: var(--Oswald);
		font-weight: normal;
		text-align: left;
		text-transform: uppercase;
	}

	&__buttons {
		display: flex;
		align-items: center;
		width: max-content;
	}

	&__xls {
		margin-right: 30px;
		color: var(--gray-400);

		&:hover,
		&:focus {
			color: var(--green-400);
		}
	}

	&__clear {
		min-height: auto;
		padding: 0;
		border-radius: 0;
		border-bottom: 1px solid var(--green-400);
		font-family: var(--Roboto);
		font-size: 14px;
		font-weight: bold;
		text-transform: none;
	}
}

@media screen and (max-width: 991px) {
	.basket-table {
		margin-bottom: 10px;

		&__th {
			padding-right: 5px;
			padding-left: 5px;
		}

		&__xls {
			margin-right: 10px;
		}
	}
}

@media screen and (max-width: 767px) {
	.basket-table {
		&__thead {
			display: block;
			margin-bottom: 15px;
		}

		.basket-table__tr {
			display: block;
			width: 100%;
		}

		&__buttons {
			justify-content: space-between;
			padding-right: 15px;
			padding-left: 15px;
			width: 100%;

			&-wrapper {
				display: block;
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 575px) {
	.basket-table {
		&__thead {
			margin-right: -15px;
			margin-left: -15px;
		}
	}
}
