.block-heading {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
	padding: 17px 28px;
	background-color: var(--gray-200);

	&__text {
		display: block;
		margin-right: 10px;
		padding-top: 5px;
		font-weight: bold;
	}

	.link-with-icon {
		flex-shrink: 0;
	}
}

@media screen and (max-width: 767px) {
	.block-heading {
		padding-top: 7px;
		padding-bottom: 7px;
	}
}

@media screen and (max-width: 575px) {
	.block-heading {
		margin-right: -15px;
		margin-left: -15px;
		padding-right: 15px;
		padding-left: 15px;
	}
}
