.breadcrumbs {
	margin-top: 15px;
	margin-bottom: 20px;
	font-size: 14px;

	&__item {
		display: inline-block;
		color: var(--gray-400);

		&:not(:last-child) {
			margin-right: 0.65em;

			&::after {
				content: '>';
				display: inline-block;
				margin-left: 0.65em;
				color: var(--gray-400);
			}
		}
	}

	&__link {
		display: inline-block;
		padding-top: 10px;
		padding-bottom: 10px;
		color: var(--gray-400);
		text-decoration: none;

		&:hover,
		&:focus {
			color: var(--green-400);
			text-decoration: underline;
		}
	}
}
