.burger-menu {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

@media screen and (max-width: 1199px) {
	.burger-menu {
		max-width: 960px;
	}
}

@media screen and (max-width: 991px) {
	.burger-menu {
		position: absolute;
		top: 78px;
		right: 0;
		left: 0;
		max-width: none;
		height: calc(100vh - 78px);
		padding: 0;
		background-color: rgba($black, 0.3);
		z-index: 2;

		&__content {
			max-height: calc(100vh - 78px);
			background-color: $white;
			overflow-y: auto;
		}
	}
}
