.catalog-menu {
	position: absolute;
	top: 174px;
	width: 255px;
}

@media screen and (max-width: 1199px) {
	.catalog-menu {
		width: 210px;
	}
}

@media screen and (max-width: 991px) {
	.catalog-menu {
		position: relative;
		top: auto;
		width: 100%;
		background-color: $white;

		&__name {
			width: 100%;
			padding: 12px 0;
			background: transparent;
			border: none;
			color: $gray-400;
			font-family: $Oswald;
			font-size: 16px;
			text-align: left;
			text-transform: uppercase;
			cursor: pointer;

			&:hover,
			&:focus {
				background-color: $gray-200;
				color: $gray-700;
			}

			&_active {
				padding-bottom: 0;

				.catalog-menu__text {
					display: block;

					&::after {
						content: '\003C  Назад';
						display: block;
						padding-top: 10px;
						padding-bottom: 20px;
						font-family: $Roboto;
						font-size: 14px;
						text-transform: none;
						border-bottom: 1px solid $gray-300;
					}
				}
			}
		}

		&__text {
			display: flex;
			max-width: 720px;
			width: 100%;
			margin: 0 auto;
			padding: 0 15px;

			&::after {
				content: '\203A';
				margin-left: auto;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.catalog-menu {
		&__text {
			max-width: 540px;
		}
	}
}

@media screen and (max-width: 575px) {
	.catalog-menu {
		&__text {
			max-width: none;
		}
	}
}
