.contact-mail {
	display: flex;
	flex-wrap: wrap;

	&__value {
		display: inline-block;
		flex-shrink: 0;
		margin-right: 5px;
		padding-bottom: 1px;
		border-bottom: 1px solid var(--green-400);
		color: var(--gray-700);
		text-decoration: none;

		&:hover,
		&:focus {
			padding-bottom: 2px;
			border-bottom: none;
		}
	}

	&__description {
		flex-shrink: 0;
	}
}
