.dropzone {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 158px;
	margin-bottom: 30px;
	outline: 2px dashed var(--gray-400);
	background-color: var(--white);
	color: var(--gray-400);
	font-size: 22px;
	transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
	cursor: pointer;

	&__placeholder {
		display: block;
		padding-right: 15px;
		padding-left: 15px;
		text-align: center;
	}

	&:hover,
	&:focus {
		color: var(--green-400);
		outline-color: var(--green-400);
	}

	&_dragover {
		outline-offset: -10px;
		background-color: var(--gray-100);
	}
}
