.edost-location-button {
	padding: 0;
	background-color: transparent;
	border: 0;
	font-size: 16px;
	text-decoration: underline;
	text-decoration-color: var(--green-400);
	cursor: pointer;

	&:hover {
		text-decoration: none;
	}
}
