.footer {
	padding-top: 70px;
	padding-bottom: 68px;
	background-color: var(--gray-400);
}

@media screen and (max-width: 991px) {
	.footer {
		padding-top: 60px;
	}
}

@media screen and (max-width: 767px) {
	.footer {
		padding-bottom: 48px;
	}
}
