.footer-bottom-line-item {
	display: flex;
	align-items: center;

	&__text {
		display: inline-block;
		margin-left: 15px;
		color: $white;
	}
}

@media screen and (max-width: 767px) {
	.footer-bottom-line-item {
		&__text {
			display: none;
		}
	}
}
