.footer-copyright {
	background-color: $black-alpha-10;

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 48px;
	}

	.text-small {
		color: $white-alpha-50;

		a {
			color: $white-alpha-50;

			&:hover,
			&:focus {
				color: $white;
			}
		}
	}
}
