.footer-bottom-line {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: $black-alpha-15;

	&__wrapper {
		position: fixed;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: $gray-400;
		z-index: 2;
	}

	&__content {
		display: flex;
		justify-content: center;
		position: relative;
	}

	.footer-bottom-line-item {
		&:nth-last-child(n + 2) {
			margin-right: 75px;
		}
	}

	.button-to-top {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
	}
}

@media screen and (max-width: 991px) {
	.footer-bottom-line {
		&__content {
			justify-content: space-between;
		}

		.footer-bottom-line-item {
			&:nth-last-child(n + 2) {
				margin-right: 0;
			}
		}

		.button-to-top {
			position: relative;
			top: auto;
			right: auto;
			transform: none;
			order: 4;
		}
	}
}
