.footer-section-name {
	display: block;
	margin-bottom: 26px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba($white, 0.15);
	color: $white;
	font-family: $Oswald;
	font-size: 16px;
	line-height: 1.25;
	font-weight: 500;
	text-transform: uppercase;
}
