.header-actions {
	display: flex;
	list-style: none;

	&__item {
		&:nth-last-child(n + 2) {
			margin-right: 40px;
		}
	}
}

@media screen and (max-width: 991px) {
	.header-actions {
		flex-direction: column;
		width: 100%;

		&__item {
			&:nth-last-child(n + 2) {
				margin-right: 0;
			}
		}
	}
}
