.header {
	position: relative;
	height: 192px;
	z-index: 5;

	&__content {
		padding-bottom: 10px;
		background-color: $white;
	}
}

@media screen and (max-width: 1199px) {
	.header {
		height: 186px;
	}
}

@media screen and (max-width: 991px) {
	.header {
		height: 143px;

		&__content {
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			box-shadow: -10px 0px 20px 0px $black-alpha-15;
			z-index: 2;
		}
	}
}

@media screen and (max-width: 767px) {
	.header {
		height: 173px;
	}
}
