.hero-swiper {
	position: relative;
	border-radius: 5px;
	overflow: hidden;

	&_big {
		height: 350px;
		margin-bottom: 15px;
	}

	&_small {
		height: 170px;
		margin-bottom: 48px;

		.hero-swiper__item {
			border-radius: 5px;
			overflow: hidden;
		}
	}

	.swiper-button {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		&_right {
			right: 0;
		}

		&_left {
			left: 0;
		}
	}
}
