.hero-swiper {
	position: relative;
	border-radius: 5px;
	overflow: hidden;

	&__item {
		position: relative;
	}

	.link-image {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	&:hover {
		.swiper-button {
			background-color: var(--green-400);
			color: var(--white);

			&.swiper-button-disabled {
				background-color: transparent;
				color: var(--gray-400);
			}
		}
	}

	&_big {
		height: 350px;
		margin-bottom: 15px;
	}

	&_small {
		height: 170px;
		margin-bottom: 48px;

		.hero-swiper__item {
			border-radius: 5px;
			overflow: hidden;
		}
	}

	.swiper-button {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		&_right {
			right: 0;
		}

		&_left {
			left: 0;
		}
	}
}

@media screen and (max-width: 575px) {
	.hero-swiper {
		height: auto;

		&__item {
			padding-top: 60%;
		}
	}
}
