.hot-line {
	display: inline-block;
	color: $gray-700;
	font-family: $Oswald;
	font-weight: 500;
	font-size: 18px;
	line-height: 18px;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $green-400;
	}
}

@media screen and (max-width: 991px) {
	.hot-line {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 48px;
		height: 48px;
		border: 2px solid $gray-200;
		border-radius: 50%;

		.link-icon {
			margin-right: 0;
		}

		&:hover,
		&:focus {
			box-shadow: 2px 5px 10px 0px rgba($black, 0.1);
		}
	}
}
