.hot-line {
	display: inline-block;
	color: var(--gray-700);
	font-family: var(--Oswald);
	font-weight: 500;
	font-size: 18px;
	line-height: 18px;
	text-decoration: none;

	.link-icon {
		margin-right: 10px;
	}

	&:hover,
	&:focus {
		color: var(--green-400);
	}
}
