.input {
	display: block;
	position: relative;
	width: 100%;
	border-radius: 5px;
	border: 1px solid var(--gray-400-alpha-50);

	textarea.input__input {
		height: 108px;
		resize: none;
	}

	&__input {
		width: 100%;
		height: 46px;
		padding: 12px 12px 0 12px;
		border-radius: 5px;
		border: 0;
		color: var(--gray-700);
		font-size: 16px;
		line-height: 1.5;
		transition: all 0.15s ease;
		-webkit-appearance: none;
		appearance: none;

		&:hover {
			background: var(--gray-100);
		}

		&:focus {
			background: var(--gray-100);
			outline: none;

			& + .input__label {
				color: var(--green-400);
				transform: translate3d(0, -9px, 0) scale(0.75);
			}
		}

		&:not(:-ms-placeholder-shown) {
			& + .input__label {
				transform: translate3d(0, -9px, 0) scale(0.75);
			}

			&:focus {
				& + .input__label {
					color: var(--green-400);
				}
			}
		}

		&:not(:placeholder-shown) {
			& + .input__label {
				transform: translate3d(0, -9px, 0) scale(0.75) !important;
			}

			&:focus {
				& + .input__label {
					color: var(--green-400);
				}
			}
		}
	}

	input,
	textarea {
		&::-moz-placeholder {
			font-size: 0.1px;
			opacity: 0;
		}

		&::placeholder {
			font-size: 0.1px;
			opacity: 0;
		}
	}

	&__label {
		position: absolute;
		top: 10px;
		left: 12px;
		color: var(--gray-400);
		font-size: 14px;
		line-height: 1.4;
		transform-origin: 0 0;
		transform: translate3d(0, 0, 0);
		transition: all 0.2s ease;
		cursor: text;
	}

	&__requirement {
		color: var(--red-200);
	}
}
