.list {
	list-style: none;
	font-size: 14px;

	&__item {
		position: relative;
		margin-bottom: 10px;
		padding-left: 22px;
		line-height: 1.4;

		a {
			color: var(--gray-700);
			text-decoration: none;

			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}

		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 6px;
			height: 6px;
			margin-right: 16px;
			background-color: var(--green-400);
			transform: translateY(7px);
		}
	}
}
