.main-header-line {
	padding-top: 16px;
	padding-bottom: 8px;

	.text-small {
		margin-right: 30px;
	}

	.header-actions {
		margin-right: auto;
	}
}

@media screen and (max-width: 991px) {
	.main-header-line {
		padding: 0;
	}
}
