.menu-item {
	display: flex;
	padding-top: 4px;
	padding-right: 30px;
	padding-bottom: 4px;
	padding-left: 30px;
	color: $gray-700;
	font-size: 14px;
	text-decoration: none;

	&__img-wrapper {
		position: relative;
		width: 48px;
		height: 48px;
		flex-shrink: 0;
		margin-right: 14px;
		border: 1px solid $gray-300;
		overflow: hidden;
	}

	&__img {
		position: absolute;
		top: 50%;
		left: 50%;
		max-width: 100%;
		max-height: 100%;
		object-fit: contain;
		transform: translate(-50%, -50%);
	}

	&:hover {
		background-color: $gray-200;
		font-weight: bold;
	}

	&_active {
		background-color: $gray-200;
		font-weight: bold;

		& ~ .submenu-list {
			display: block;
		}
	}
}

@media screen and (max-width: 991px) {
	.menu-item {
		padding: 12px 0;
		color: $gray-700;
		font-size: 16px;

		&__img-wrapper {
			display: none;
		}

		&__text {
			display: block;
			max-width: 720px;
			width: 100%;
			margin: 0 auto;
			padding: 0 15px;
		}

		&:not(:only-child) {
			.menu-item__text {
				display: flex;

				&::after {
					content: '\203A';
					display: block;
					margin-left: auto;
				}
			}
		}

		&_active:not(:only-child) {
			position: relative;
			padding-bottom: 0;
			background-color: $white;
			color: $gray-400;
			font-family: $Oswald;
			font-size: 16px;
			font-weight: normal;
			text-transform: uppercase;

			.menu-item__text {
				display: block;

				&::after {
					content: '\003C  Назад';
					display: block;
					padding-top: 10px;
					padding-bottom: 20px;
					font-family: $Roboto;
					font-size: 14px;
					font-weight: normal;
					text-transform: none;
					border-bottom: 1px solid $gray-300;
				}
			}

			&:hover {
				background-color: $gray-200;
				color: $gray-700;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.menu-item {
		&__text {
			max-width: 540px;
		}
	}
}

@media screen and (max-width: 575px) {
	.menu-item {
		&__text {
			max-width: none;
		}
	}
}
