.menu-list {
	position: relative;
	width: 255px;
	padding-top: 12px;
	padding-bottom: 22px;
	background-color: var(--white);
	box-shadow: 0px 0px 5px 0 var(--black-alpha-10),
		0px 5px 10px 0 var(--black-alpha-15);
	list-style: none;
	z-index: 2;
}

@media screen and (max-width: 991px) {
	.menu-list {
		width: 100%;
		padding-top: 0;
		padding-bottom: 20px;
		box-shadow: none;
		overflow-y: auto;

		&__item {
			&_active {
				position: fixed;
				top: 78px;
				right: 0;
				left: 0;
				bottom: 0;
				background-color: var(--black-alpha-30);
				overflow-y: auto;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.menu-list__item_active {
		top: 99px;
	}
}
