.price {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 25px;

	&__actual {
		display: inline-block;
		margin-bottom: 10px;
		font-family: $Oswald;
		font-size: 28px;
		vertical-align: top;

		&:not(:only-child) {
			margin-right: 16px;
		}
	}

	&__line-through {
		display: inline-block;
		margin-top: 3px;
		font-family: $Oswald;
		font-size: 22px;
		font-weight: 100;
		text-decoration: line-through;
	}

	&__description {
		display: flex;
		flex-basis: 100%;
		color: $gray-400;
		font-size: 14px;

		.bage {
			margin-left: auto;
		}
	}
}
