.product-info-cta {
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 1199px) {
	.product-info-cta {
		flex-wrap: wrap;

		.button {
			flex-basis: 100%;

			&:first-child {
				margin-bottom: 7px;
			}
		}

		.button_border_primary {
			.button__text {
				span {
					color: inherit;
					text-decoration: inherit;
				}
			}

			&:hover,
			&:focus {
				.button__text {
					span {
						color: inherit;
						text-decoration: inherit;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.product-info-cta {
		flex-wrap: nowrap;

		.button {
			flex-basis: calc(50% - 4px);

			&:first-child {
				margin-right: 8px;
				margin-bottom: 0;
			}
		}
	}
}

@media screen and (max-width: 575px) {
	.product-info-cta {
		flex-wrap: wrap;

		.button {
			flex-basis: 100%;

			&:first-child {
				margin-right: 0;
				margin-bottom: 7px;
			}
		}
	}
}
