.product-info {
	height: 100%;
	padding: 20px 30px;
	border: 1px solid $gray-100;
	border-radius: 5px;

	.bold-link {
		margin-bottom: 48px;
	}

	.product-info-cta {
		margin-bottom: 45px;
	}
}

@media screen and (max-width: 991px) {
	.product-info {
		margin-bottom: 60px;
	}
}

@media screen and (max-width: 767px) {
	.product-info {
		margin-bottom: 40px;
	}
}
