.profile-sections {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	list-style: none;

	&__item {
		width: calc((100% - 30px * 3) / 4);
		margin-right: 15px;
		margin-bottom: 30px;
		margin-left: 15px;

		&_big {
			width: calc((100% - 30px * 2) / 3);
		}
	}
}
