.question {
	display: inline-block;
	position: relative;

	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 20px;
		height: 20px;
		padding: 0;
		border: none;
		border-radius: 50%;
		background-color: var(--gray-400);
		cursor: pointer;
		color: var(--white);
		font-size: 18px;
		line-height: 20px;
		text-align: center;
		opacity: 0.4;
	}
}
