.search-sections {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	padding-right: 20px;
	padding-left: 20px;
	background-color: var(--gray-200);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	color: var(--gray-400);
	cursor: pointer;

	&__selected {
		max-width: 150px;
		text-overflow: ellipsis;
		overflow-x: hidden;
		white-space: nowrap;
	}

	&__icon {
		width: 15px;
		height: 15px;
		margin-top: 4px;
		margin-left: 8px;
		color: var(--gray-400);
	}

	&__list {
		position: absolute;
		top: calc(100% + 9px);
		left: 0;
		width: 100%;
		padding-top: 16px;
		padding-bottom: 16px;
		border-radius: 5px;
		box-shadow: 0 0 5px 0 var(--black-alpha-10),
			0 5px 10px 0 var(--black-alpha-15);
		background-color: var(--white);
		list-style: none;
		z-index: 2;
	}

	&__item {
		padding: 8px 20px;
		color: var(--gray-700);
		font-size: 14px;
		cursor: pointer;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		&:hover,
		&:focus {
			background-color: var(--gray-200);
		}
	}
}

@supports (width: max-content) {
	.search-sections__list {
		width: max-content;
	}
}
