.share-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	padding: 0;
	background-color: transparent;
	border: none;
	border-radius: 2px;
	cursor: pointer;

	&__icon {
		width: 14px;
		height: 14px;
		color: var(--white);
	}

	&__button {
		width: 24px;
		height: 24px;
	}

	&:hover,
	&:focus {
		box-shadow: 1px 4px 10px 0 var(--black-alpha-30);
	}

	&_vk {
		background-color: var(--blue-vk);
	}

	&_facebook {
		background-color: var(--blue-facebook);
	}

	&_viber {
		background-color: var(--violet-viber);
	}

	&_whatsapp {
		background-color: var(--green-whatsapp);
	}

	&_email {
		background-color: var(--red-200);
	}

	&_print {
		background-color: var(--gray-400);
	}
}
