.social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	border-radius: 50%;

	.link-icon {
		width: 18px;
		height: 18px;
		color: $white;
	}

	&_vk {
		background-color: $blue-vk;
	}

	&_facebook {
		background-color: $blue-facebook;
	}

	&_viber {
		background-color: $violet-viber;
	}

	&_whatsapp {
		background-color: $green-whatsapp;
	}

	&_youtube {
		background-color: $red-youtube;
	}

	&:hover,
	&:focus {
		box-shadow: 2px 10px 20px 0px rgba($black, 0.15);
	}
}
