.submenu-list {
	display: none;
	position: absolute;
	top: 0;
	left: 100%;
	min-width: 100%;
	max-width: 255px;
	padding-top: 12px;
	padding-bottom: 22px;
	background-color: $white;
	box-shadow: 0 0 5px 0 $black-alpha-10, 0 5px 10px 0 $black-alpha-15;
	list-style: none;
}

@media screen and (max-width: 991px) {
	.submenu-list {
		position: relative;
		top: auto;
		left: auto;
		padding-top: 0;
		padding-bottom: 20px;
		box-shadow: none;
		overflow-y: auto;
	}
}
