.swiper-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	padding: 0;
	background-color: transparent;
	border: none;
	color: var(--gray-400);
	cursor: pointer;
	z-index: 2;

	&__icon {
		width: 15px;
		height: 15px;
	}

	&:hover,
	&:focus {
		color: var(--green-400);
	}

	&_stroke {
		border: 1px solid var(--gray-400);
	}

	&_white {
		color: var(--white);
		border-color: var(--white);
	}

	&-lock {
		display: none;
	}
}
