.tab-button {
	display: block;
	position: relative;
	padding: 11px 16px;
	background-color: var(--gray-200);
	border: 1px solid var(--gray-200);
	color: var(--gray-400);
	font-family: var(--Oswald);
	font-size: 16px;
	line-height: 1.5;
	text-decoration: none;
	text-transform: uppercase;

	&__text {
		display: block;
		text-align: center;
	}

	&:hover,
	&_active {
		background-color: var(--white);
		box-shadow: 0 0 15px 0 var(--black-alpha-10);
		color: var(--gray-700);

		&:after {
			content: '';
			display: block;
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			height: 3px;
			background-color: var(--green-400);
		}
	}
}
