.tab-content {
	margin-bottom: 40px;

	p {
		max-width: 825px;
		margin-bottom: 1em;
	}

	.swiper-pagination {
		bottom: 0;
		z-index: 0;
		&-bullet {
			&-active {
				background-color: $green-400;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.tab-content {
		max-height: 0;
		margin-bottom: 0;
		overflow: hidden;
		transition: max-height margin-bottom 0.3s;
	}
}