.tabs {
	display: flex;
	margin-bottom: 40px;
	list-style: none;

	&__item {
		flex-grow: 1;
		flex-shrink: 0;

		&:nth-last-child(n + 2) {
			margin-right: 3px;
		}
	}
}

@media screen and (max-width: 1199px) {
	.tabs {
		flex-wrap: wrap;

		&__item {
			flex-basis: 24%;
			margin-bottom: 3px;

			&:nth-child(4n) {
				margin-right: 0;
			}
		}
	}
}
