.tabs {
	display: flex;
	position: relative;
	background-color: var(--white);
	list-style: none;

	&__wrapper {
		height: 48px;
		margin-bottom: 40px;
	}

	&__item {
		flex-grow: 1;
		flex-shrink: 0;

		&:nth-last-child(n + 2) {
			margin-right: 3px;
		}
	}

	&_fixed {
		position: fixed;
		top: 64px;
		width: 1110px;
		z-index: 3;
	}

	&_col-9.tabs_fixed {
		width: 825px;
	}
}

@media screen and (max-width: 1199px) {
	.tabs {
		flex-wrap: wrap;

		&__wrapper {
			height: 102px;
		}

		&__item {
			flex-basis: 24%;
			margin-bottom: 3px;

			&:nth-child(4n) {
				margin-right: 0;
			}
		}

		&_fixed {
			width: 930px;
		}

		&_col-9.tabs_fixed {
			width: 690px;
		}
	}
}

@media screen and (max-width: 991px) {
	.tabs {
		&_fixed {
			top: 140px;
			width: 690px;
		}
	}
}
