.top-line {
	display: flex;
	align-items: center;
	height: 40px;
	background-color: $gray-100;

	&__content {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.hot-line {
		margin-left: 15px;
	}
}

@media screen and (max-width: 991px) {
	.top-line {
		height: auto;
		padding-top: 18px;
		background: $white;

		&__left {
			margin-left: auto;
		}

		.logo {
			width: 240px;
			margin-left: 30px;
		}

		.hot-line {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 48px;
			height: 48px;
			border: 2px solid $gray-200;
			border-radius: 50%;

			.link-icon {
				margin-right: 0;
			}

			&:hover,
			&:focus {
				box-shadow: 2px 5px 10px 0 $black-alpha-10;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.top-line {
		height: auto;
		padding-top: 48px;
		.hot-line {
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			width: 100%;
			height: auto;
			margin-left: 0;
			background-color: $gray-200;
			border: none;
			border-radius: 0;
			line-height: 32px;

			&__text {
				margin-left: 10px;
			}
		}
	}
}
