.top-line {
	display: flex;
	align-items: center;
	height: 40px;
	background-color: $gray-100;

	&__content {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.hot-line {
		margin-left: 15px;
	}
}

@media screen and (max-width: 991px) {
	.top-line {
		height: 78px;
		background: $white;

		&__left {
			margin-left: auto;
		}
	}
}
