.top-line {
	display: flex;
	align-items: center;
	height: 40px;
	background-color: $gray-100;

	&__content {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.hot-line {
		margin-left: 15px;
	}
}

@media screen and (max-width: 991px) {
	.top-line {
		height: 78px;
		background: $white;

		// &__content {
		// 	// position: absolute;
		// 	flex-wrap: wrap;
		// 	// left: 15px;
		// 	// right: 15px;
		// 	// padding-top: 14px;
		// 	// background-color: $white;
		// 	// z-index: 2;
		// }

		&__left {
			margin-left: auto;
		}

		&__center {
			width: 100%;
		}

		&__right {
			width: 100%;
		}
	}
}
