.transport-company {
	display: flex;
	align-items: center;
	padding: 7px 12px;
	color: $gray-400;
	font-size: 14px;
	line-height: 1.6;

	&__img-wrapper {
		display: block;
		position: relative;
		width: 50px;
		height: 40px;
		margin-right: 16px;
		overflow: hidden;
	}

	&__img {
		position: absolute;
		top: 50%;
		left: 50%;
		max-width: 100%;
		max-height: 100%;
		object-fit: contain;
		transform: translate(-50%, -50%);
	}
}
