.viewed-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: var(--gray-700);
	text-decoration: none;
	cursor: pointer;

	.separate-image {
		margin-bottom: 20px;
	}

	&__name {
		font-size: 14px;
		text-align: center;
	}

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}
