.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	bottom: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

.overflow {
	&_hidden {
		overflow: hidden;
	}

	&-y {
		&_auto {
			overflow-y: auto;
		}

		&_visible {
			overflow-y: visible;
		}

		&_hidden {
			overflow-y: hidden;
		}
	}
}

.swiper-wrapper > * {
	flex-shrink: 0;
}

.overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: var(--black-alpha-30);
}

.container .container {
	padding-right: 0;
	padding-left: 0;
}
