//colors

$black: #000000;
$white: #ffffff;

//////////////

$gray-100: #f6f6f6;
$gray-200: #ebf0f5;
$gray-300: #eeeeee;
$gray-400: #788791;
$gray-700: #333333;

//////////////

$green-400: #00b5b0;

$orange: #f5a816;

$red: #f44336;

$blue-vk: #5586bf;
$blue-facebook: #3b5998;
$violet-viber: #7a509c;
$green-whatsapp: #4caf50;
$red-youtube: #ff0000;

//fonts

$Roboto: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$Oswald: 'Oswald', 'Helvetica', 'Arial', sans-serif;
