mixin additional-service(props = {})

  .additional-service&attributes(attributes)
    svg.additional-service__icon
      use(xlink:href="#verified")
    span Для этого продукта мы предлагаем дополнительные услуги, такие как
      |
      |
      b заказ запасных частей, ремонт, замена.
