mixin answer(props = {})

  .answer&attributes(attributes)
    .answer__arrow
    span.answer__text Эти бонусы вы сможете получить и потратить после оплаты заказа. Смотрите
    |
    |
    a(href="#").answer__link правила начисления и списания бонусов
