mixin answer(props = {})
  - const {classes = ''} = props;

  div(class= `answer ${classes}`)
    span.answer__text Эти бонусы вы сможете получить и потратить после оплаты заказа. Смотрите
    |
    |
    a(href="#").answer__link правила начисления и списания бонусов
