mixin basket(props={})
  include counter

  - const {tag = 'a'} = props;
  - const attrs = tag === 'a' ? '(href="#")' : ''

  #{tag}.basket&attributes(attrs)
    svg.basket__icon
      use(xlink:href="#truck")
    +counter
      |17
