mixin basket-table-product(props = {})
  include price
  include amount-block
  include button


  tr.basket-table-product
    td.basket-table-product__td.basket-table-product__number
      span.basket-table-product__text 21

    td.basket-table-product__td.basket-table-product__image
      img(src="assets/img/some-product.jpg" data-object-fit="contain" alt="Товар" width="90").basket-table-product__img

    td.basket-table-product__td.basket-table-product__vendor-code
      span.basket-table-product__text 54HFDJ532LH4B

    td.basket-table-product__td.basket-table-product__name
      a(href="#").basket-table-product__name SIMATIC S7-300, SM321, МОДУЛЬ ВВОДА ДИСКРЕТНЫХ СИГНАЛОВ

    td.basket-table-product__td.basket-table-product__sale
      span.basket-table-product__text 50

    td.basket-table-product__td.basket-table-product__price
      +price(class="price_extra-small price_vertical-reverse")

    td.basket-table-product__td.basket-table-product__amount
      +amount-block(class="amount-block_small amount-block_border")

    td.basket-table-product__td.basket-table-product__delete
      +button(class="basket-table-product__delete-button")
        |✕
