mixin buy-buttons-block(props = {})
  include button
  - const {classes = ''} = props;

  div(class= `buy-buttons-block ${classes}`)
    .buy-buttons-block__content
      +button({border: 'primary'})
        |В заказ
      +button({border: 'gray-400'})
        |Выставить счет
