mixin buy-buttons-block(props = {})
  include button

  .buy-buttons-block&attributes(attributes)
    .buy-buttons-block__content
      +button({border: 'primary'})
        |В заказ
      +button({border: 'gray-400'})
        |Выставить счет
