mixin catalog-menu(props = {})

  include menu-list

  - const { classes = '' } = props;
  - const classlist = 'catalog-menu ' + classes;

  div(class= classlist)
    .catalog-menu__name.d-none Каталог
    +menu-list
