mixin catalog-menu(props = {})

  include menu-list

  .catalog-menu&attributes(attributes)
    button(type="button").catalog-menu__name.d-lg-none
      span.catalog-menu__text Каталог
    +menu-list(class="d-none d-lg-block")
