mixin checkbox(props = {})

  - const { checked = false } = props;

  label.checkbox&attributes(attributes)
    input(type="checkbox").visually-hidden&attributes({checked: checked})
    span.checkbox__checkbox
    span.checkbox__text
      block
