mixin delivery-block(props = {})
  include deliveries-list

  .delivery-block&attributes(attributes)
    span.delivery-block__text Доставка в
    |
    |
    a.delivery-block__link(href="#") Москва
    +deliveries-list
