mixin deliveries-list(props = {})
  include transport-company
  - const {classes = ''} = props;

  ul(class= `deliveries-list ${classes}`)
    li.deliveries-list__item
      +transport-company({logoUrl: 'assets/img/delovie-linii.png', name: 'Деловые линии', price: '1999', time: '3'})
    li.deliveries-list__item
      +transport-company({logoUrl: 'assets/img/pek.png', name: 'ПЭК', price: '22129', time: '5'})
    li.deliveries-list__item
      +transport-company({logoUrl: 'assets/img/zeldor.png', name: 'Желдор Экспедиция', price: '22129', time: '5'})
