mixin dropzone-form(props = {})
  include dropzone
  include button

  form.row.dropzone-form&attributes(attributes)
    .col-12.col-lg-8.order-1
      +dropzone
    .col-12.col-lg-4.order-0.order-lg-2
      p.dropzone-form__text.
        Далеко-далеко за словесными горами
        в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает
        ее всеми необходимыми правилами.
    .col-12.order-3
      .dropzone-form__submit-block
        +button({variant: 'primary'})(type='submit')
          |Загрузить
        span.dropzone-form__files-count Файл не выбран
