mixin dropzone(props = {})

  label.dropzone&attributes(attributes)
    input.dropzone__input.visually-hidden(type='file' multiple accept=".csv, .xls, .xslxg" data-caption='Выбрано {count} файла(ов)')
    span.dropzone__placeholder перенесите сюда список (csv, xls, xslx)
