mixin edost(props = {})
  include order-form-section
  include edost-item
  include radio-button
  include edost-input

  .edost&attributes(attributes)
    +order-form-section({number: '1', text: 'Данные покупателя'})
      +edost-item
        +radio-button({labelAtrrs: {for: 'PERSON_TYPE_1'}})(type='radio' id="PERSON_TYPE_1" name='PERSON_TYPE' value='1' checked="checked")
          |Юридическое лицо
        +radio-button({labelAtrrs: {for: 'PERSON_TYPE_2'}})(type='radio' id="PERSON_TYPE_2" name='PERSON_TYPE' value='2')
          |Физическое лицо
      br
      +edost-item
        +edost-input({labelText: 'Введите Название компании или ИНН', required: true,})

      +edost-item
        +edost-input({labelText: 'ФИО контактного лица', required: true,})(type="text" autocomplete="off" autocorrect="off" spellcheck="false" maxlength="250" size="" value="" name="ORDER_PROP_1" id="ORDER_PROP_1" data-type="name" oninput="window.edost_window.input('update', this, event)" style="box-sizing: border-box;")

      +edost-item
        +edost-input({labelText: 'E-mail', required: true,})(type="text" autocomplete="off" autocorrect="off" spellcheck="false" autocapitalize="off" maxlength="250" size="" value="" name="ORDER_PROP_2" id="ORDER_PROP_2" data-type="email" oninput="window.edost_window.input('update', this, event)" style="box-sizing: border-box;")

      +edost-item
        +edost-input({labelText: 'Телефон', required: true,})(type="tel" autocomplete="tel" autocorrect="off" spellcheck="false" maxlength="16" size="" value="" name="ORDER_PROP_3" id="ORDER_PROP_3" data-type="tel" oninput="window.edost_window.input('update', this, event)" placeholder="+7 000 000-00-00")

    +order-form-section({number: '2', text: 'Доставка'})
      +edost-item
        +radio-button({labelAtrrs: {for: 'DELIVERY_TYPE_1'}})(type='radio' id="DELIVERY_TYPE_1" name='DELIVERY_TYPE' value='1' checked="checked")
          |До терминала
        +radio-button({labelAtrrs: {for: 'DELIVERY_TYPE_2'}})(type='radio' id="DELIVERY_TYPE_2" name='DELIVERY_TYPE' value='2')
          |До двери

      +edost-item
        +edost-input({labelText: 'Адрес доставки', required: true,})
