mixin edost-submit-block(props = {})

  .edost-submit-block&attributes(attributes)
    +button({variant: 'primary'})
      |Оформить заказ
    +checkbox({checked: true})
      span.text-small
        |Нажимая кнопку «Оформить заказ», я даю согласие на обработку персональных данных.
