mixin email-form(props = {})
  include button

  form.email-form&attributes(attributes)
    fieldset.email-form__fieldset
      input.email-form__input(type="email" placeholder="Введите email")
      +button({variant: 'primary', type: 'icon', iconId: 'email'})(type="submit")
    button(type="button").email-form__button
      svg.email-form__icon
        use(xlink:href="#close")
