mixin footer-section-list(props = {})
  include footer-link
  - const {items, colums} = props;

  ul(class= colums ? 'footer-section-list footer-section-list_colums' : 'footer-section-list')&attributes(attributes)
    each item in items
      li.footer-section-list__item
        +footer-link= item
