mixin footer-section(props = {})
  include footer-section-name
  include footer-section-list

  - const {classes = '', name= '', items = '', colums = false} = props;

  section(class= `footer-section ${classes}`)
    if name !== ''
      +footer-section-name(class='d-none d-lg-block')= name
    if items !== ''
      +footer-section-list({items, colums})(class='d-none d-lg-block')
    block
