mixin footer-section-list(props = {})
  include footer-link
  - const {classes = '', items} = props;

  ul(class= `footer-section-list ${classes}`)
    each item in items
      li.footer-section-list__item
        +footer-link= item
