mixin footer-copyright(props = {})
  include text-small

  .footer-copyright&attributes(attributes)
    .container
      .row
        .col-12
          .footer-copyright__content
            +text-small
              |© 2019, МагистральЭнергоИнжиниринг
            +text-small
              |Создание сайта -
              a(href="#") Айти Эскорт
