mixin header-link(props = {})
  include link-icon

  - const {iconId = null } = props;

  a(href="#").header-link&attributes(attributes)
    if (iconId)
      +link-icon({iconId: iconId})
    span.header-link__text
      block
