mixin header-actions(props = {})

  include action

  - const { classes = '' } = props;


  ul(class = `header-actions ${classes}`)
    li.header-actions__item
      +action
        |Быстрый заказ
    li.header-actions__item
      +action
        |Импорт списка из XLS
    li.header-actions__item
      +action
        |Мой бонус!
    li.header-actions__item
      +action
        |Контакты
