mixin header-search-line

  .header-search-line
    .container
      .row
        .col-lg-3.d-none.d-lg-block
          +button({variant: 'primary', type: 'icon_left', iconId: 'burger'})
            |Каталог
        .col-12.col-lg-9
          +header-search
