mixin header
  include top-line
  include main-header-line
  include header-search-line
  include breadcrumbs

  header.header
    +top-line
    +main-header-line
    +header-search-line
    .container
      .row
        .col-12
          +breadcrumbs
