mixin header-search

  include header-search-button
  include search-sections

  form.header-search
    +search-sections
    input(type="text" placeholder="Для поиска введите артикул или название товара...").header-search__input
    +header-search-button
