mixin header-link(props = {})
  include link-icon

  - const {iconId = null, classes = ''} = props;
  - const classlist = 'header-link ' + classes;

  a(href="#" class= classlist)
    if (iconId)
      +link-icon({iconId: iconId})
    span.header-link__text
      block
