mixin hot-line(props)
  include link-icon
  - const {iconId, textClasses = ''} = props;

  a(href="tel:88002507657").hot-line
    +link-icon({iconId})
    span(class=`hot-line__text ${textClasses}`) 8 800 250-76-57
