mixin image(props = {})

  a(href="assets/img/sample-image-big.jpg" data-fancybox="images").image&attributes(attributes)
    .image__image-wrapper
      img(src=`assets/img/sample-image-small.jpg`, alt="Видео").image__image
