mixin images(props = {})
  include tab-heading
  include images-swiper

  - const { fullWidth = true } = props;
  - const colums = fullWidth ? 'col-12 col-xl-9' : 'col-12';

  .images&attributes(attributes)
    +tab-heading
      |Фото
    .tab-content
      .row
        div(class= colums)
          +images-swiper
