mixin info-list(props = {})

  ul.info-list&attributes(attributes)
    li.info-list__item
      b Артикул:
      |
      |
      span 54HFDJ532LH4B
    li.info-list__item
      b Производитель:
      |
      |
      span SIEMENS
    li.info-list__item
      b Срок поставки:
      |
      |
      span в наличии 15 шт.
