mixin main-header-line

  include logo
  include text-small
  include header-actions
  include basket
  include button
  include header-search

  .main-header-line
    .container
      .row.align-items-center
        .col-3
          +logo
        .col-9
          .d-flex.align-items-center
            +text-small({classes: 'd-none d-xl-block'})
              |Официальный системный
              <br>
              |интегратор Siemens
            +header-actions
            +basket
