mixin manuals(props = {})
  include tab-heading
  include download-file

  - const { fullWidth = true } = props;
  - const colums = fullWidth ? 'col-12 col-xl-9' : 'col-12';

  .manuals&attributes(attributes)
    +tab-heading
      |Мануалы

    .tab-content
      .row
        div(class= colums)
          +download-file({name: 'Каталог продукции «Аппараты защиты: автоматичеcкие выключатели и реле перегрузки Sirius»', size: '13.33 Мб'})
          +download-file({name: 'Брошюра «Низковольтные коммутационные аппараты Sirius Innovations»', size: '13.33 Мб'})
          +download-file({name: 'Каталог продукции «Аппараты защиты: автоматичеcкие выключатели и реле перегрузки Sirius»', size: '13.33 Мб'})
          +download-file({name: 'Каталог продукции «Аппараты защиты: автоматичеcкие выключатели и реле перегрузки Sirius»', size: '13.33 Мб'})
