mixin menu-list
  include menu-item
  include submenu-list

  ul.menu-list
    li.menu-list__item
      +menu-item
        |Кабель, провод
    li.menu-list__item
      +menu-item
        |Низковольтное оборудование
      +submenu-list
    li.menu-list__item
      +menu-item
        |Приводная техника
    li.menu-list__item
      +menu-item
        |Системы автоматизации
    li.menu-list__item
      +menu-item
        |Щиты и шкафы, шинопровод
    li.menu-list__item
      +menu-item
        |Элементы и устройства электропитания, компенсация реактивной мощности
