include header
include footer

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    link(href="styles/libraries/bootstrap.css", rel="stylesheet", type="text/css")
    link(href="styles/libraries/swiper.min.css", rel="stylesheet", type="text/css")
    //- link(href="styles/libraries/jquery.fancybox.min.css", rel="stylesheet", type="text/css")
    link(href="styles/main.css", rel="stylesheet", type="text/css")
    block link

    title
      block title

  body
    object(data="assets/img/icons/sprite.svg", type="image/svg+xml", style="width: 0; height: 0; display: none;")
      include ../../assets/icons/sprite/symbol/svg/sprite.symbol.svg
    +header
    block content
    +footer
    script(src="scripts/libraries/jquery.min.js")
    script(src="scripts/libraries/swiper.min.js")
    //- script(src="scripts/libraries/jquery.fancybox.min.js")
    script(src="scripts/libraries/objectFitPolyfill.min.js")

    //- script(src="scripts/libraries/css-vars-ponyfill.js")
    //- script(src="https://unpkg.com/css-vars-ponyfill@2/dist/css-vars-ponyfill.min.js")
    //- script(src="https://cdn.jsdelivr.net/npm/js-beautify@1/js/lib/beautify-css.min.js")

    script(src="scripts/script.js")
