include header
include footer

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")

    link(data-ignore href="styles/libraries/bootstrap.css" rel="stylesheet" type="text/css")
    link(data-ignore href="styles/libraries/swiper.min.css" rel="stylesheet" type="text/css")
    link(data-ignore href="styles/libraries/jquery.fancybox.css" rel="stylesheet" type="text/css")
    style(type="text/css").
      :root {
        --black-alpha-30: rgba(0, 0, 0, 0.3);
        --black-alpha-15: rgba(0, 0, 0, 0.15);
        --black-alpha-10: rgba(0, 0, 0, 0.1);

        --white: #ffffff;
        --white-alpha-15: rgba(255, 255, 255, 0.15);
        --white-alpha-50: rgba(255, 255, 255, 0.5);

        --gray-100: #f6f6f6;
        --gray-200: #ebf0f5;
        --gray-300: #eeeeee;
        --gray-350: #cccccc;

        --gray-400: #788791;
        --gray-400-alpha-50: rgba(120, 135, 145, 0.5);
        --gray-400-alpha-30: rgba(120, 135, 145, 0.3);
        --gray-700: #333333;

        --green-400: #009999;
        --green-400-alpha-50: rgba(0, 181, 176, 0.5);

        --orange-200: #f5a816;
        --orange-300: #ff9800;
        --orange-400: #f9ce1d;

        --yellow: #fffde7;

        --red-200: #e57373;
        --red-300: #f44336;

        --blue-vk: #5586bf;
        --blue-facebook: #3b5998;
        --violet-viber: #7a509c;
        --green-whatsapp: #4caf50;

        --Roboto: 'Roboto', 'Helvetica', 'Arial', sans-serif;
        --Oswald: 'Oswald', 'Helvetica', 'Arial', sans-serif;
      }

  link(href="styles/main.css" rel="stylesheet" type="text/css")
  block link

  title
    block title

  body
    object(data="assets/img/icons/sprite.svg" type="image/svg+xml" style="width: 0; height: 0; display: none;")
      include ../../assets/icons/sprite/symbol/svg/sprite.symbol.svg
    +header(data-print="hide")
    block content
    +footer(data-print="hide")

    script(src="scripts/libraries/jquery.min.js")
    script(src="scripts/libraries/swiper.min.js")
    script(src="scripts/libraries/jquery.fancybox.min.js")
    script(src="scripts/libraries/popper.min.js")
    script(type="text/javascript" src="scripts/libraries/css-vars-ponyfill.js")
    script(type="text/javascript" src="scripts/libraries/objectFitPolyfill.min.js")

    script(src="scripts/script.js")
