mixin price(props = {})
  include bage
  - const {classes = ''} = props;

  div(class= `price ${classes}`)
    span.price__actual 44,72 €
    span.price__line-through 59,62
    span.price__description Цена с НДС за штуку
      +bage
        |Действует 2 дня!
