mixin product-price-block(props = {})
  include amount-block
  include button-star
  include button
  include price
  include additional-info
  include bonuses
  include quick-order-button
  include delivery-block

  .product-price-block&attributes(attributes)
    .product-price-block__content
      +button-star
      +price
      +additional-info
      .d-flex.mb-3
        +amount-block
        +button({type: 'icon_left', variant: 'primary', iconId: 'truck'})(class='button_order')
          |в заказ
      .d-flex.mb-3
        +bonuses
        +quick-order-button
      +delivery-block
