mixin product-info-cta(props = {})
  include button

  .product-info-cta&attributes(attributes)
    +button({border: 'primary', tag: 'a'})(href="tel:88002507657" id="callback-button")
      span.d-none.d-md-inline-block Заказать звонок
      span.d-md-none Позвонить
    +button({border: 'gray-400'})
      |Написать
