mixin product-name(props = {})
  include social-share

  - const { share = false, logo = true } = props;

  .product-name&attributes(attributes)
    .container
      .row
        if share && logo
          .col-7.col-sm-4.col-md-3.col-lg-2.order-1
            img(src="assets/img/siemens.jpg" alt="siemens").product-name__logo
            a(href="#").product-name__link
              span Официальный поставщик
          .col-12.col-lg-6.col-xl-7.order-3.order-sm-4.order-lg-2
            h1.product-name__text
              block
          .col-auto.ml-sm-auto.order-3
            +social-share
              |Поделиться:

        else if share && !logo
          .col-12.col-md-auto.col-lg-6.col-xl-7.mr-auto
            h1.product-name__text
              block
          .col-auto.mb-4
            +social-share
              |Поделиться:

        else if !share && logo
          .col-7.col-sm-4.col-md-3.col-lg-2
            img(src="assets/img/siemens.jpg" alt="siemens").product-name__logo
            a(href="#").product-name__link
              span Официальный поставщик
          .col-12.col-lg-10
            h1.product-name__text
              block
