mixin profile-sections(props = {})
  include profile-section

  - const { sections } = props

  ul.profile-sections&attributes(attributes)
    each section, index in sections
      li.profile-sections__item
        +profile-section(section)
