mixin radio-button(props = {})

  - const { labelAtrrs } = props;

  label.radio-button&attributes(labelAtrrs)
    input.visually-hidden.radio-button__input&attributes(attributes)
    .radio-button__radio
    span.radio-button__label
      block
