mixin reviews(props = {})
  include tab-heading
  include reviews-swiper

  .reviews&attributes(attributes)
    +tab-heading
      |Отзывы
    .tab-content
      .row
        .col-12.col-md-9
          +reviews-swiper
