mixin reviews-swiper(props = {})
  include review

  .reviews-swiper&attributes(attributes)
    .swiper-wrapper
      .reviews-swiper__item
        +review({reviewer: 'Vasya Pupkin', date: 'chetire dnya nazad', rating: 5, text: 'Работали в 2017 г. по поставке серверного оборудования HP - по всем вопросам в компании оказывали поддержку - от приема заявки до поставки. Технические специалисты показали себя компетентным товарищами- помогли подобрать необходимое'})
      .reviews-swiper__item
        +review({reviewer: 'Алла Игнатьева', date: 'вчера', rating: 4, text: 'Работали в 2017 г. по поставке серверного оборудования HP - по всем вопросам в компании оказывали поддержку - от приема заявки до поставки. Технические специалисты показали себя компетентным товарищами- помогли подобрать необходимое'})
      .reviews-swiper__item
        +review({reviewer: 'Евгений Македонский', date: 'chetire dnya nazad', rating: 3, text: 'Работали в 2017 г. по поставке серверного оборудования HP - по всем вопросам в компании оказывали поддержку - от приема заявки до поставки. Технические специалисты показали себя компетентным товарищами- помогли подобрать необходимое'})
      .reviews-swiper__item
        +review({reviewer: 'Анатолий', date: 'chetire dnya nazad', rating: 4, text: 'Профессиональный подход к делу. Сотрудников данной компании отличает умение быстро найти оптимальное решение ценовых проблем'})
    .d-md-none.swiper-pagination
