mixin search-results(props = {})

  .title-search-result
    .bx_searche
      .bx_item_block
        .bx_img_element
          .bx_image(style="background-image: url('./assets/img/product-image.jpg')")
        .bx_item_element
          a(href='/catalog/avtomobilnyy_spetsialnyy_krepezh/prochee_4/tyaga_privoda_ruchnogo_tormoza_2108_v_sbore/')
            |БЕСПРЕДОХРАНИТЕЛЬНАЯ
            |
            |
            span ФИДЕРНАЯ СБОРКА
            |
            |
            |ПРЯМОГО ПУСКА, AC 400V, ТИПОРАЗМЕР S00, 0.14.. .0.2A, AC 230V, ВИНТОВЫЕ КЛЕММЫ, ДЛЯ МОНТАЖА НА СТАНДАРТНОЙ МОНТАЖ
          .bx_price
            | 141
            span.rub &#x20BD;
        div(style='clear:both;')
      .bx_item_block
        .bx_item_element
          a(href='/catalog/avtomobilnyy_spetsialnyy_krepezh/prochee_4/tyaga_privoda_ruchnogo_tormoza_2108_v_sbore/')
            |БЕСПРЕДОХРАНИТЕЛЬНАЯ
            |
            |
            span ФИДЕРНАЯ СБОРКА
            |

            |ПРЯМОГО ПУСКА, AC 400V, ТИПОРАЗМЕР S00, 0.14.. .0.2A, AC 230V, ВИНТОВЫЕ КЛЕММЫ, ДЛЯ МОНТАЖА НА СТАНДАРТНОЙ МОНТАЖ
          .bx_price
            | 1.50
            span.rub &#x20BD;
        div(style='clear:both;')
      .bx_item_block
        .bx_img_element
          .bx_image(style="background-image: url('https://rosbolt.ru/upload/resize_cache/iblock/748/50_50_1/748f8a56f5cf86d47e64d1f141a0bacd.jpg')")
        .bx_item_element
          a(href='/catalog/avtomobilnyy_spetsialnyy_krepezh/prochee_4/tyaga_privoda_ruchnogo_tormoza_2108_v_sbore/')
            |БЕСПРЕДОХРАНИТЕЛЬНАЯ
            |
            |
            span ФИДЕРНАЯ СБОРКА
            |
            |
            |ПРЯМОГО ПУСКА, AC 400V, ТИПОРАЗМЕР S00, 0.14.. .0.2A, AC 230V, ВИНТОВЫЕ КЛЕММЫ, ДЛЯ МОНТАЖА НА СТАНДАРТНОЙ МОНТАЖ
          .bx_price
            | 90
            span.rub &#x20BD;
        div(style='clear:both;')
      .bx_item_block
        .bx_img_element
          .bx_image(style="background-image: url('https://rosbolt.ru/upload/resize_cache/iblock/738/50_50_1/73801098a3ace45c69c78251ed355687.jpg')")
        .bx_item_element
          a(href='/catalog/avtomobilnyy_spetsialnyy_krepezh/prochee_4/tyaga_privoda_ruchnogo_tormoza_2108_v_sbore/')
            |БЕСПРЕДОХРАНИТЕЛЬНАЯ
            |
            |
            span ФИДЕРНАЯ СБОРКА
            |
            |
            |ПРЯМОГО ПУСКА, AC 400V, ТИПОРАЗМЕР S00, 0.14.. .0.2A, AC 230V, ВИНТОВЫЕ КЛЕММЫ, ДЛЯ МОНТАЖА НА СТАНДАРТНОЙ МОНТАЖ
          .bx_price
            | 120
            span.rub &#x20BD;
        div(style='clear:both;')
      .bx_item_block
        .bx_item_element
          a(href='/catalog/avtomobilnyy_spetsialnyy_krepezh/prochee_4/tyaga_privoda_ruchnogo_tormoza_2108_v_sbore/')
            |БЕСПРЕДОХРАНИТЕЛЬНАЯ
            |

            span ФИДЕРНАЯ СБОРКА
            |
            |
            |ПРЯМОГО ПУСКА, AC 400V, ТИПОРАЗМЕР S00, 0.14.. .0.2A, AC 230V, ВИНТОВЫЕ КЛЕММЫ, ДЛЯ МОНТАЖА НА СТАНДАРТНОЙ МОНТАЖ
          .bx_price
            | 650
            span.rub &#x20BD;
        div(style='clear:both;')
      .bx_item_block.all_result
        .bx_img_element
        .bx_item_element
          b.all_result_title
            a(href='/catalog/?q=%D0%BF%D1%80%D0%B8') Все результаты
        div(style='clear:both;')
