mixin search-sections

  .search-sections
    .search-sections__selected Весь сайт
    svg.search-sections__icon
      use(xlink:href="#arrow-down")
    ul.search-sections__list.d-none
      li.search-sections__item Весь сайт
      li.search-sections__item Кабель, провод
      li.search-sections__item Кабель, провод
      li.search-sections__item Приводная техника
      li.search-sections__item Системы автоматизации
      li.search-sections__item Щиты и шкафы, шинопровод
      li.search-sections__item Элементы и устройства электропитания
