mixin search-sections-select

  .search-sections-select
    svg.search-sections-select__icon
      use(xlink:href="#arrow-down")
    select.search-sections-select__select
      option(selected value="all") Весь сайт
      option(value="catalog") Каталог
