mixin separate-image(props = {})

  - const { imgSrc = "assets/img/some-product.jpg" } = props

  .separate-image&attributes(attributes)
    img.separate-image__img(src= imgSrc alt="Описание картинки")
