mixin site-sections

  ul.site-sections
    li.site-sections__item
      +header-link()
        |О компании
    li.site-sections__item
      +header-link()
        |Юр. лицам
    li.site-sections__item
      +header-link()
        |Оплата и доставка
