mixin social-block(props = {})
  include social-link

  - const {classes = ''} = props;

  ul(class= `social-block ${classes}`)
    li.social-block__item
      +social-link({iconId: 'vk', classes: 'social-link_vk'})
    li.social-block__item
      +social-link({iconId: 'facebook', classes: 'social-link_facebook'})
    li.social-block__item
      +social-link({iconId: 'viber', classes: 'social-link_viber'})
    li.social-block__item
      +social-link({iconId: 'whatsapp', classes: 'social-link_whatsapp'})
    li.social-block__item
      +social-link({iconId: 'youtube', classes: 'social-link_youtube'})
