mixin social-block(props = {})
  include social-link

  ul.social-block&attributes(attributes)
    li.social-block__item
      +social-link({iconId: 'vk'})(class='social-link_vk')
    li.social-block__item
      +social-link({iconId: 'facebook'})(class='social-link_facebook')
    li.social-block__item
      +social-link({iconId: 'viber'})(class='social-link_viber')
    li.social-block__item
      +social-link({iconId: 'whatsapp'})(class='social-link_whatsapp')
    li.social-block__item
      +social-link({iconId: 'youtube'})(class='social-link_youtube')
