mixin swiper-button(props = {})
  - const {side} = props;

  button(type="button" class= `swiper-button swiper-button_${side}`)&attributes(attributes)
    case side
      when 'left'
        svg.swiper-button__icon
          use(xlink:href="#arrow-left-swiper")
      when 'right'
        svg.swiper-button__icon
          use(xlink:href="#arrow-right-swiper")
