mixin tabs(props = {})
  include tab-button

  - const { tabs= [] } = props;

  .tabs__wrapper.d-none.d-md-flex
    .container
      .row
        .col-12
          ul.tabs&attributes(attributes)
            each tab, index in tabs
              li.tabs__item
                +tab-button(href= tab.href class= index ? '' : "tab-button_active")= tab.name
