mixin tech-info(props = {})
  include tab-heading
  include download-file

  - const { fullWidth = true } = props;
  - const colums = fullWidth ? 'col-12 col-xl-9' : 'col-12';

  .tech-info&attributes(attributes)
    +tab-heading
      |Техническая информация

    .tab-content
      .row
        div(class= colums)
          +download-file({name: 'Каталог продукции «Аппараты защиты: автоматичеcкие выключатели и реле перегрузки Sirius»', size: '13.33 Мб', iconId: 'pdf'})
          +download-file({name: 'Брошюра «Низковольтные коммутационные аппараты Sirius Innovations»', size: '13.33 Мб'})
          +download-file({name: 'Каталог продукции «Аппараты защиты: автоматичеcкие выключатели и реле перегрузки Sirius»', size: '13.33 Мб', iconId: 'xls'})
          +download-file({name: 'Каталог продукции «Аппараты защиты: автоматичеcкие выключатели и реле перегрузки Sirius»', size: '13.33 Мб', iconId: 'ppt'})
