mixin top-line

  include header-link
  include hot-line
  include authorization-block
  include site-sections
  include catalog-menu

  .top-line
    .container
      .row
        .col-12
          .top-line__content
            +catalog-menu({classes: 'd-none'})
            .top-line__left
              +header-link({iconId: 'pin'})
                |Санкт-Петербург
              +hot-line({iconId: 'phone'})

            .top-line__center
              +site-sections

            .top-line__right
              +authorization-block
