mixin top-line

  include header-link
  include hot-line
  include authorization-block
  include site-sections

  .top-line
    .container
      .row
        .col-lg-4.col-xl-3.d-flex.justify-content-between.align-items-baseline
          +header-link({iconId: 'pin'})
            |Москва
          +hot-line({iconId: 'phone'})
        .col-auto.flex-grow-1
          +site-sections
        .col-4
          +authorization-block
