mixin top-line

  include header-link
  include hot-line
  include authorization-block
  include site-sections
  include catalog-menu
  include button

  .burger-menu.d-none
    .burger-menu__content
      .overlay.d-none
      +catalog-menu
  .top-line
    .container
      .row
        .col-12
          .top-line__content
            +button({type: 'icon', iconId: 'burger', classes: 'button_burger d-lg-none'})

            .top-line__left
              +header-link({iconId: 'pin', classes: 'd-none d-lg-inline-flex'})
                |Санкт-Петербург
              +hot-line({iconId: 'phone'})

            .top-line__center
              +site-sections

            .top-line__right
              +authorization-block
