mixin video(props = {})

  a(href="https://www.youtube.com/watch?v=x1WjijRhyxc" data-fancybox="videos").video&attributes(attributes)
    .video__image-wrapper
      img(src=`assets/img/video-thumb.jpg`, alt="Видео" data-object-fit="cover").video__image
