mixin videos(props = {})
  include tab-heading
  include videos-swiper

  - const { fullWidth = true } = props;
  - const colums = fullWidth ? 'col-12 col-xl-9' : 'col-12';

  .videos&attributes(attributes)
    +tab-heading
      |Видео
    .tab-content
      .row
        div(class= colums)
          +videos-swiper
